@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
	--fs-xl: 24px
	--fs-l: 18px;
	--fs-m: 14px;
	--fs-s: 13px;

	--fw-bold: 700;
	--fw-medium: 500;
	--fw-regular: 400;
}