.SortTable {
	background-color: var(--bg-color);
	padding: 19px 10px 16px 10px;
}

th {
	font-weight: var(--fw-medium);
	font-size: var(--fs-m)
}

.sortTableItem {
	cursor: pointer;
	text-align: center;
	color: var(--color-sort-text);
}

.icon {
	margin-left: 25px;
}

.arrowIcon {
    vertical-align: middle;
    margin: auto 0;
}

.flipIcon {
	transform: rotate(180deg);
}

.id {
	width: 10%;
}

.title {
	width: 50%;
}

.body {
	width: 40%;
}


@media (max-width: 600px) {
	.icon {
		display: block;
		margin: 0 auto;
	}
}