.container {
	height: 52px;
	max-width: 631px;
	position: relative;
	margin-top: 23px;
}

.Input {
	height: 100%;
	width: 100%;
	background-color: var(--bg-color);
	padding: 0 50px 0 26px;
}

.Input, .Input::placeholder {
	font-weight: var(--fw-regular);
	font-size: var(--fs-m);
	color: var(--color-input-text);
}

.icon {
	height: 21px;
	width: 21px;
	position: absolute;
	top: 50%;
	right: 24px;
	transform: translate(0, -50%);
}

.readonly {
	cursor: auto;
	opacity: 0.7;
}
