.TablePagination {
	display: flex;
	justify-content: space-around;
	margin-top: 16px;
	width: 90%;
}

.button {
	font-weight: var(--fw-medium);
	font-size: var(--fs-xl);
}

a {
	color: var(--color-text);
}

.paginNumber {
	font-style: italic;
	font-weight: var(--fw-bold);
	font-size: var(--fs-l);
}

.number + .number {
	margin-left: 20px;
}

.active {
	color: var(--color-active);
}


@media (max-width: 768px) {
	.TablePagination {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 10px 10px;
		justify-items: center;
		grid-template-areas:
		  "qwe qwe qwe"
		  "btna . btnt";
	  }

	.btnPrev { grid-area: btna; }
	.btnNext { grid-area: btnt; }
	.paginNumber { grid-area: qwe; }
}