.Posts {
}

td {
	padding: 15px 8px;
	border: 1px solid #E3E6EC;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 137.69%;
}

.id {
	text-align: center;
}